@charset "UTF-8";

html {
  font-size: 100%;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

body {
  color: red;
  background: rgba(255, 0, 0, 0.2);
  font-family: "New Tegomin", serif;
}

.home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.omikujiBox {
  width: 250px;
  border: solid 1px;
  outline: solid 4px;
  outline-offset: 2px;
  background-color: #fff;
  text-align: center;
  margin: 10px 10px;
  padding: 0 10px;
}

.omikujiFrame {
  overflow: scroll;
}

.omikujiTitle {
  padding: 5% 0;
}

.result img {
  max-width: 100%;
}

.contents {
  padding: 10% 5%;
}
.omikujiBorder-bottom {
  border-bottom: 2px solid rgba(255, 0, 0, 0.4);
}

.btn {
  border-radius: 100vh !important;
}
